[submodule "next-starter"]
	path = next-starter
	url = https://github.com/sahilrajput03/next-starter
[submodule "with-mongodb-mongoose"]
	path = with-mongodb-mongoose
	url = https://github.com/sahilrajput03/with-mongodb-mongoose
[submodule "next-crash-course"]
	path = next-crash-course
	url = https://github.com/bradtraversy/next-crash-course
[submodule "next-netlify-starter"]
	path = next-netlify-starter
	url = https://github.com/sahilrajput03/next-netlify-starter
[submodule "api-routes-graphql"]
	path = api-routes-graphql
	url = https://github.com/sahilrajput03/api-routes-graphql
[submodule "with-typescript-graphql"]
	path = with-typescript-graphql
	url = https://github.com/sahilrajput03/with-typescript-graphql
[submodule "global-next-practise"]
	path = global-next-practise
	url = https://github.com/sahilrajput03/global-next-practise
